{:index 0, :time 19059908, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 25999164, :type :ok, :process 0, :f :read, :value []}
{:index 2, :time 209200257, :type :invoke, :process 0, :f :read, :value nil}
{:index 3, :time 211467003, :type :ok, :process 0, :f :read, :value []}
{:index 4, :time 351629428, :type :invoke, :process 0, :f :broadcast, :value 0}
{:index 5, :time 5357978678, :type :info, :process 0, :f :broadcast, :value 0, :error :net-timeout}
{:index 6, :time 5358123802, :type :invoke, :process 1, :f :read, :value nil}
{:index 7, :time 10360541315, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 8, :time 10360622253, :type :invoke, :process 1, :f :read, :value nil}
{:index 9, :time 15364020970, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 10, :time 15364110657, :type :invoke, :process 1, :f :read, :value nil}
{:index 11, :time 20367647566, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 12, :time 30373475530, :type :invoke, :process 1, :f :read, :value nil, :final? true}
{:index 13, :time 35379072641, :type :fail, :process 1, :f :read, :value nil, :final? true, :error :net-timeout}
